/* EKRAN_1296 */

@media (max-width:1296px) {

    /* NAVBAR_QISMI */
    .nav {
        height: 45px;
        margin-top: 25px;
        padding: 0 15px;
    }

    .nav_left,
    .nav_right,
    .nav_list {
        gap: 30px;

    }

    .nav_logo,
    .footer_logo {
        font-size: 30px;
    }

    .nav_link,
    .footer_link {
        font-size: 17px;
    }

    .nav_right_lng {
        font-size: 19px;
    }

    .nav_right img {
        width: 22px;
    }

    /* MAIN_QISMI */
    .section {
        padding: 0 20px;
        margin-top: 30px;
    }

    .section_box {
        width: 480px;
        height: 250px;
        gap: 20px;
    }

    .box2 {
        gap: 20px;
        width: 700px;
        height: 530px;
    }

    /* SALE_QISMI */
    .sales {
        margin: 50px 0;
    }

    .sales_catalog {
        margin-top: 40px;
        gap: 20px;
        padding: 0 20px;
    }

    .sale_box {
        width: 390px;
        height: 460px;
    }

}

@media (max-width:1250px) {
    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section_left {
        flex-direction: row;

    }

    .box2 {
        gap: 20px;
        width: 990px;
        height: 450px;
    }

    .section_box {
        width: 480px;
        height: 250px;
        gap: 20px;
    }

    .section_box:nth-child(2) {
        padding-left: 80px;
    }

    .watch_section {
        height: 140px;
    }

    .section_text {
        font-size: 13px;
    }

    .section_title {
        font-size: 14px;
    }

    .catalog_sale {
        border-radius: 8px;
        font-size: 20px;
        width: 100px;
        height: 40px;
    }

    /* SALE_QISMI */
    .sales {
        margin: 40px 0;
    }

    .sales_catalog {
        margin-top: 30px;
        gap: 40px;
        padding: 0 50px;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        grid-template-rows: repeat(6, 1fr);
    }

    .sale_box {
        width: 500px;
        height: 500px;
    }


}


/* EKRAN-1111 */

@media (max-width:1111px) {

    /* NAVBAR_QISMI */
    .nav {
        height: 40px;
        margin-top: 20px;
    }

    .nav_left,
    .nav_right,
    .nav_list {
        gap: 23px;

    }

    .nav_logo,
    .footer_logo {
        font-size: 27px;
    }

    .nav_link,
    .footer_link {
        font-size: 15px;
    }

    .nav_right_lng {
        font-size: 17px;
    }

    .nav_right img {
        width: 20px;
    }

    /* SECTION_QISMI */
    .section_left {
        justify-content: space-between;

    }

    .box2 {
        gap: 20px;
        width: 890px;
        height: 400px;
    }

    .section_box {
        width: 430px;
        height: 250px;
        gap: 20px;
    }

    /* SALE_QISMI */
    .sales {
        margin: 35px 0;
    }

    .sales_catalog {
        margin-top: 20px;
        gap: 35px;
        padding: 0 40px;

    }

    .sale_box {
        width: 430px;
        height: 430px;
    }

}


/* EKRAN-930 */

@media (max-width:930px) {

    /* NAVBAR_QISMI */
    .nav {
        margin-top: 18px;
    }

    .nav_left,
    .nav_right,
    .nav_list {
        gap: 15px;

    }

    .nav_logo,
    .footer_logo {
        font-size: 26px;
    }

    .nav_link,
    .footer_link {
        font-size: 14px;
    }

    .nav_right_lng {
        font-size: 16px;
    }

    .nav_right img {
        width: 19px;
    }

    /* SECTION_QISMI */
    .section {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .section_left {
        flex-direction: column;

    }

    .section_box,
    .box2 {
        width: 800px;
        height: 250px;
        gap: 20px;
    }

    .watch_section {
        height: 170px;
    }

    .section_text {
        font-size: 12px;
    }

    .section_title,
    .box2 h1 {
        font-size: 13px;
    }

    /* SALE_QISMI */
    .sales {
        margin: 30px 0;
    }

    .sales_catalog {
        margin-top: 20px;
        gap: 30px;
        padding: 0 30px;

    }

    .sale_box {
        width: 390px;
        height: 390px;
    }

    .title {
        font-size: 28px;
        margin: 20px 0;
    }


    .sale_box_tx {
        gap: 15px;
    }

    .sale_box_tx_text,
    .sale_box_tx_title {
        font-size: 19px;
    }

    .catalog_sales_bottom_title {
        font-size: 28px;
    }
}

/* EKRAN-850 */
@media (max-width:850px) {

    /* NAVBAR_QISMI */
    .nav {
        margin-top: 15px;
    }

    .nav_mobile_right {
        gap: 15px;
    }

    .nav_logo,
    .footer_logo {
        font-size: 26px;
    }

    .nav_link,
    .footer_link {
        font-size: 14px;
    }

    .nav_right_lng {
        font-size: 17px;
        padding-bottom: 4px;
    }

    .nav_mobile_right img {
        width: 20px;
    }

    .nav_list,
    .nav_right {
        display: none;
    }

    /* MOBILE_DESTKOP */
    .nav_box ul:nth-of-type(2) {
        display: flex;
    }

    .mobile_desktop {
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        /* qora yarim shaffof */
        backdrop-filter: blur(5px);
        /* orqa fonni hira qiladi */
        -webkit-backdrop-filter: blur(50px);
        justify-content: space-between;
        padding: 10px 15px;
        z-index: 99;
        position: fixed;
        display: flex;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        left: 0;
        transition: 0.5s;
    }

    .mobile_desktop_link {
        opacity: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        font-size: 14px;
        line-height: 90%;
        text-transform: uppercase;
        font-weight: 550;
        color: rgb(255, 253, 253);
    }

    .mobile_desktop_link img {
        width: 30px;
        filter: brightness(0) invert(1);
    }

    /* SECTION_QISMI */

    .section_box,
    .box2 {
        width: 750px;
        height: 200px;
        gap: 10px;
    }

    .section_box:nth-child(2) {
        padding-left: 0;
    }

    .watch_section_2,
    .watch_section {
        height: 100px;
    }

    .watch_section_2 {
        height: 90px;
    }

    .section_text {
        font-size: 11px;
    }

    .section_title,
    .box2 h1 {
        font-size: 12px;
    }

    /* msananananana */
    .catalog_sale,
    .sale_on span {
        font-size: 18px;
        width: 90px;
        height: 40px;
        top: 10px;
        left: 10px;
    }

    /* SALE_QISMI */
    .sales {
        margin: 10px 0;
    }

    .sales_catalog {
        margin-top: 20px;
        gap: 30px;
        padding: 0 30px;

    }

    .sale_box {
        width: 350px;
        height: 350px;
    }

    .title {
        font-size: 28px;
        margin: 20px 0;
    }

    .sale_on_box_img {
        border-radius: 10px;
        padding: 13px 13px;
    }

    .sale_box_img {
        width: 160px;
    }

    .sale_box_tx {
        gap: 15px;
    }

    .sale_box_tx_text,
    .sale_box_tx_title {
        font-size: 18px;
    }

    .sale_on_right {
        top: 10px;
        right: 10px;
    }

    .catalog_sales_bottom_title {
        font-size: 25px;
    }
}

/* 750 EKRAN */
@media (max-width:750px) {

    .section_box,
    .box2 {
        width: 600px;
        height: 200px;
        gap: 10px;
    }

    /* SALE_QISMI */

    .sales_catalog {
        gap: 20px;
    }

    .sale_box {
        width: 300px;
        height: 300px;
    }

    .title {
        font-size: 25px;
        margin: 20px 0;
    }

    .sale_on_box_img {
        border-radius: 10px;
        padding: 10px 10px;
    }

    .sale_box_img {
        width: 130px;
    }

    .sale_box_tx {
        gap: 10px;
    }

    .sale_box_tx_text,
    .sale_box_tx_title {
        font-size: 16px;
    }

    .catalog_sales_bottom_title {
        font-size: 22px;
    }
}







/* EKRAN-640 */
@media (max-width:640px) {

    .section_box,
    .box2 {
        width: 550px;
        height: 190px;
        gap: 10px;
    }

    .watch_section_2,
    .watch_section {
        height: 100px;
    }

    .watch_section_2 {
        height: 90px;
    }

    .section_text {
        font-size: 11px;
    }

    .section_title,
    .box2 h1 {
        font-size: 12px;
    }

    .catalog_sale,
    .sale_on span {
        font-size: 17px;
        width: 80px;
        height: 40px;
    }

    /* SALE_QISMI */

    .sales_catalog {
        gap: 20px;
    }

    .sale_box {
        width: 260px;
        height: 240px;
    }

    .title {
        font-size: 22px;
        margin: 20px 0;
    }

    .sale_on_box_img {
        border-radius: 7px;
        padding: 8px 8px;

    }

    .sale_box_img {
        width: 100px;
    }

    .sale_box_tx {
        gap: 7px;
    }

    .sale_box_tx_text,
    .sale_box_tx_title {
        font-size: 14px;
    }

    .sale_on_right {
        right: 10px;
        top: 10px;
        gap: 10px;
    }

    .catalog_sales_bottom_title {
        font-size: 20px;
    }
}

/* EKRAN-580 */
@media (max-width:580px) {

    .section_box,
    .box2 {
        width: 470px;
        height: 180px;
        gap: 10px;
    }

    .catalog_sale,
    .sale_on span {
        top: 7px;
        left: 7px;
        font-size: 15px;
        width: 70px;
        height: 35px;
    }

    /* SALE_QISMI */

    .sale_box {
        width: 225px;
        height: 240px;
    }

    .title {
        font-size: 19px;
        margin: 30px 0;
    }

    .sale_on_box_img {
        border-radius: 5px;
        padding: 7px 7px;

    }

    .sale_box_img {
        width: 90px;
    }


    .sale_box_tx_text,
    .sale_box_tx_title {
        font-size: 13px;
    }

    .sale_on_right {
        right: 7px;
        top: 7px;
        gap: 7px;
    }
  .catalog_sales_bottom_title {
        font-size: 18px;
    }
}

/* EKRAN-500 */
@media (max-width:500px) {

    /* NAVBAR_QISMI */
    .nav {
        margin-top: 10px;
    }

    .nav_mobile_right {
        gap: 15px;
    }

    .nav_logo,
    .footer_logo {
        font-size: 20px;
    }

    .nav_right_lng {
        font-size: 14px;
        padding-bottom: 3px;
    }

    .nav_mobile_right img {
        width: 17px;
    }

    /* MOBILE_DESTKOP */
    .mobile_desktop_link {
        font-size: 10px;
        line-height: 80%;
    }

    .mobile_desktop_link img {
        width: 26px;
    }

    /* SECTION_QISMI */
    .section_box,
    .box2 {
        width: 400px;
        height: 170px;
        gap: 8px;
    }

    .catalog_sale .sale_on span {
        font-size: 14px;
        width: 60px;
        height: 30px;
        left: 15px;
        top: 15px;
    }

    /* SALE_QISMI */

    .sale_box {
        width: 190px;
        height: 220px;
    }

    .title {
        font-size: 17px;
        margin: 20px 0;
    }

    .sale_on_box_img {
        border-radius: 5px;
        padding: 5px 5px;
        width: 29px;
    }

    .sale_box_img {
        width: 80px;
    }


    .sale_box_tx_text,
    .sale_box_tx_title {
        font-size: 11px;
    }

    .sale_on_right {
        right: 10px;
        top: 10px;
        gap: 5px;
    }

    .catalog_sale,
    .sale_on span {
        font-size: 10px;
        width: 50px;
        height: 25px;
        top: 10px;
        left: 10px;
        border-radius: 5px;
    }
.catalog_sales_bottom_title {
        font-size: 16px;    }
}







/* EKRAN-420PX */

@media (max-width:420px) {
    .section {
        margin-top: 30px;
    }

    .section_box,
    .box2 {
        width: 370px;
        height: 150px;
        gap: 8px;
    }

    .watch_section_2 {
        height: 70px;
    }

    .section_text {
        font-size: 10px;
    }

    .section_title,
    .box2 h1 {
        font-size: 11px;
    }

    .text_watch_1 {
        gap: 10px;
    }


    /* SALE_QISMI */

    .sale_box {
        width: 170px;
        height: 200px;
    }

    .title {
        font-size: 15px;
        margin: 15px 0;
    }

    .sale_on_box_img {
        border-radius: 5px;
        padding: 5px 5px;
        width: 26px;
    }

    .sale_box_img {
        width: 70px;
    }


    .sale_box_tx_text,
    .sale_box_tx_title {
        font-size: 11px;
    }

    .sale_on_right {
        right: 10px;
        top: 10px;
        gap: 5px;
    }
.catalog_sales_bottom_title {
        font-size: 15px;
        margin-top: 20px;
    }
}


@media (max-width:370px) {

    .section_box,
    .box2 {
        width: 310px;
        height: 150px;
        gap: 8px;
    }

    .section_box:nth-child(2) {
        padding-left: 50px;
    }

    /* SALE_QISMI */

    .sale_box {
        width: 145px;
        height: 170px;
    }

    .title {
        font-size: 13px;
        margin: 20px 0;
    }

    .sale_on_box_img {
        border-radius: 5px;
        padding: 5px 5px;
        width: 25px;
    }

    .sale_box_img {
        width: 60px;
    }


    .sale_box_tx_text,
    .sale_box_tx_title {
        font-size: 10px;
        text-align: center;
    }

    .sale_on_right {
        right: 10px;
        top: 10px;
        gap: 5px;
    }

    .catalog_sale,
    .sale_on span {
        font-size: 9px;
        width: 40px;
        top: 10px;
        left: 10px;
        border-radius: 4px;
    }
}